<h1>$app_name $app_version</h1>
<form method='POST' action='?'>
${content}
<hr/>
<input type='hidden' name='task_path' value=${task_path} />
<table width='100%'>
  <tr>
    <td width='100%'></td>
#for button in buttons
    <td><input type='submit' name='${button.get_name()}' value='${button.get_caption()}'/></td>
#end
  </tr>
</table>
</form>
