<div xmlns:py="http://genshi.edgewall.org/">
You are logged in and will be forwarded. You may also click <a href="${refer_to}">here</a>.
<script type="text/javascript">
window.location = "$refer_to"
</script>
</div>
