<div xmlns:py="http://genshi.edgewall.org/">
  <b py:if="foo">${bar}</b>
  <form action='$url' method='POST'>
  <table id='login' cellspacing='10' cellpadding='0'>
    <tr py:if="error">
      <td colspan='2'><font class='error'>$error</font></td>
    </tr>
    <tr>
      <td>{gettext text="Username:"}</td>
      <td><input type='text' name='username' value='$username' /></td>
    </tr>
    <tr>
      <td>{gettext text="Password:"}</td>
      <td><input type='password' name='password' value='' /></td>
    </tr>
    <tr>
      <td colspan='2' align='right'><input type='submit' name='login' /></td>
    </tr>
  </table>
  </form>
</div>
