DirectoryIndex index.py
#AddHandler cgi-script-debug .py

RewriteEngine off

# In .htaccess, mod_rewrite loops over the file when it hits an
# "L" flag. This rule prevents it.
RewriteCond %{ENV:REDIRECT_STATUS} =200
RewriteRule ^ - [L]

# By default, refer anything so that the path is passed through the
# page argument. Exceptions: The installer/ directory, and anything
# that is explicitely marked to prevent the access.
RewriteCond %{REQUEST_URI} !.*installer/.*$
RewriteCond %{REQUEST_URI} !.*mod-rewrite-will-strip-this/.*$
RewriteRule ^(.*)/$ index.py?page=$1 [QSA,L]

# This handles URLs that were marked for being an exception. It
# removes the marker, and everything before that.
RewriteCond %{REQUEST_URI} /?mod-rewrite-will-strip-this/.*$
RewriteRule /?mod-rewrite-will-strip-this/(.*) $1 [L]
