<?
  $cfg['db_type']         = 'mysqlt';       // Database type, by default 'mysqlt'.
  $cfg['db_host']         = 'localhost';    // Your database hostname, usually
                                            // 'localhost'.
  $cfg['db_usr']          = 'dbuser';       // Username on your database host.
  $cfg['db_pass']         = 'password';     // Password on your database host.
  $cfg['db_name']         = 'db01';         // Database name.
  $cfg['db_dbn']          = $cfg['db_type'] // If unsure leave unchanged.
                          . '://'
                          . $cfg['db_usr']
                          . ':'
                          . urlencode($cfg['db_pass'])
                          . '@'
                          . $cfg['db_host']
                          . '/'
                          . $cfg['db_name'];
  
  $cfg['db_table_prefix'] = 'spiff_';       // Table base name, if unsure leave
                                            // unchanged.
  $cfg['lang']            = 'english';      // Web interface language. The language files
                                            // are in the "language/" subfolder.
?>
