<div xmlns:py="http://genshi.edgewall.org/">
  <h2 py:content="txt('Your registration')" />
  <font class="error" py:content="txt('A confirmation email has been sent to the following address:')" /> $email
</div>
