<div onclick="new Effect.BlindUp(this, {duration: 3})">
<table width='100%' cellpadding='0' cellspacing='0'>
  <tr>
    <th width='10'></th>
    <th colspan='5' align='left'>This is my context</th>
    <th width='10'><img src='box_ur.png' alt='' /></th>
  </tr>
  <tr>
    <td width='10'><img src='box_l.png' alt='' /></td>
    <td width='10'><img src='delete.png' alt='' /></td>
    <td width='10'>
      <form action='?' method='GET'>
        <input type='checkbox' name='done' />
      </form>
    </td>
    <td>Whatever.</td>
    <td width='200' align='center' bgcolor='#822'>Due tomorrow</td>
    <td width='10'><img src='box_r.png' alt='' /></td>
  </tr>
  <tr>
    <td colspan='6'><img src='box_u.png' alt='' /></td>
  </tr>
</table>
</div>
