<div xmlns:py="http://genshi.edgewall.org/">
  <form action='${request_uri(page = ["admin/login"], refer_to = [refer_to])}' method='post'>
  <table id='login' cellspacing='10' cellpadding='0'>
    <tr py:if="error">
      <td colspan='2'><font class='error'>$error</font></td>
    </tr>
    <tr>
      <td py:content="txt('Username:')" />
      <td><input type='text' name='username' value='$username' /></td>
    </tr>
    <tr>
      <td py:content="txt('Password:')" />
      <td><input type='password' name='password' value='' /></td>
    </tr>
    <tr>
      <td colspan='2' align='right'><input type='submit' name='login' /></td>
    </tr>
  </table>
  </form>
</div>
