<div xmlns:py="http://genshi.edgewall.org/"
     py:with="img_dir = web_dir + '/img'"
     py:strip="True">
<table class="admin_header"
       width="100%"
       cellpadding="0"
       cellspacing="0"
       py:choose="current_user">
  <tr>
    <td>
      <a href="${uri('')}"><img class="logo"
                                src="$img_dir/logo_small.png"
                                alt="" /></a>
    </td>
    <td>
      <a href="${uri('')}">Spiff</a>
    </td>
    <td width="100%">&nbsp;</td>
    <td class="nowrap" py:if="edit_layout">
      <a href="${request_uri(edit_layout = [1])}">
        ${txt('Edit the layout of this page')}
      </a>
    </td>
  </tr>
</table>
</div>
