<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Samuel Abels" />
  <meta name="keywords" content="spiff, gnome" />
  <meta name="description" content="spiff-project.org" />
  <meta name="robots" content="all" />
  <title>Spiff</title>
  <style type="text/css" title="Default Style">
    @import "web/style.css";
#for style in styles
    @import "{$style}";
#end
  </style>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0">
#choose current_user
 #when None
  <tr><td align="right">Not logged in.</td></tr>
 #end
 #otherwise
  <tr>
    <td align="right">
    Logged in: ${current_user.get_name()}
    </td>
  </tr>
 #end
#end
</table>
