<div xmlns:py="http://genshi.edgewall.org/" py:strip="True">
  <font color='#ffffff'>
  <table width='100%' cellpadding='0' cellspacing='0'>
    <tr>
      <td colspan='10' align='center' bgcolor='#6fa9fb' height='150'>
      <font size='-1'>
      <img src='img/spiff_logo.png' alt='Spiff' />
      </font>
      </td>
    </tr>
    <tr>
      <td align='center'><img src='img/content.png' alt='Content' /></td>
      <td align='center'><img src='img/images.png' alt='Images' /></td>
      <td align='center'><img src='img/users.png' alt='Users' /></td>
      <td colspan='7' align='center'></td>
    </tr>
  </table>
  </font>
  <xi:include href="$content_template">
  Spiff plugin error: System page does produce any content.
  </xi:include>
</div>
