<div class="content"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:with="img_dir = plugin_dir + '/img'">
  <table width="600">
    <tr>
      <td py:with="url = request_uri(page = ['admin/content'])">
        <xi:include href="icon_with_caption.tmpl"
                    py:with="img     = img_dir + '/logo_medium.png';
                             caption = txt('Change Site Content');
                             url     = url" />
      </td>
      <td py:with="url = request_uri(page = ['admin/users'])">
        <xi:include href="icon_with_caption.tmpl"
                    py:with="img     = img_dir + '/groups.png';
                             caption = txt('User and Group Management');
                             url     = url" />
      </td>
    </tr>
  </table>
</div>
