<div width="100%"
     id="layout_canvas"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude">
<script src="$plugin_dir/Matrix.js" type="text/javascript"></script>
<script src="$plugin_dir/LayoutCanvas.js" type="text/javascript"></script>
<script type="text/javascript">
// <![CDATA[
var layout = new LayoutCanvas({accept_drop: 'layout_control'});
$('layout_canvas').appendChild(layout.table);
layout.connect_events();
layout.set_layout(${layout});
// ]]>
</script>
<form action="${request_uri()}" method="post">
  <input id="layout_var"
         type="hidden"
         name="layout"
         value="" />
  <input type="button"
         value="${txt('Clear Layout')}"
         onClick="layout.reset()" />
  <input type="button"
         value="${txt('Restore Layout')}"
         onClick="layout.set_layout(${layout})" />
  <input type="submit"
         value="${txt('Save Layout')}"
         onClick="$('layout_var').setAttribute('value', layout.get_layout());
                  this.form.submit()" />
</form>
</div>
