<div class="content"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:with="img_dir = plugin_dir + '/img'">
<form action="${request_uri(path_str = [path.get()])}" method="post">
<table class="container" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width='230' valign="top">
      <table class="menu" cellpadding="0">
        <tr><td align='center'><i py:content="txt('Member of')" /></td></tr>
        <py:for each="item in groups">
          <tr py:with="url = request_uri(path_str = [item.get_attribute('path_str')])">
            <td>
            <a href="$url"><img src="${img_dir}/group.png" alt="Group:" /><span py:content="item.get_name()" /></a>
            </td>
          </tr>
        </py:for>
      </table>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td width='100%'>
      <py:choose>
        <h2 py:when="user.get_name() == ''" py:content="txt('Create A New User')" />
        <h2 py:otherwise="" py:content="user.get_name()" />
      </py:choose>
      <py:for each="error in errors">
        <font color="red" size="3" py:content="error" /><br/>
      </py:for>
      <table width="100%" cellpadding="0" cellspacing="5">
        <!-- Public information -->
        <tr>
          <td class="nowrap" colspan="3"><h3 py:content="txt('Public User Information')" /></td>
        </tr>
        <tr>
          <td><img src="$img_dir/null.png" height="1" width="20" alt="" /></td>
          <td class="nowrap" py:content="txt('User Name:')" />
          <td width="100%"><input type="text" class="field" name="name" value="${user.get_name()}" /></td>
        </tr>
        <tr>
          <td></td>
          <td class="nowrap" valign="top" py:content="txt('Description:')" />
          <td width="100%">
            <textarea name="description"
                      rows="3"
                      cols="80"
                      py:content="user.get_attribute('description')" />
          </td>
        </tr>


        <!-- Defaults -->
        <tr>
          <td class="nowrap" colspan="3"><h3 py:content="txt('Defaults')" /></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">
            <table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td py:content="txt('Content created by this user is by default owned by:')" />
                <td colspan="2">
                  &nbsp;<select name="default_owner_id"
                          py:with="default_owner_id = user.get_attribute('default_owner_id')">
                    <option selected="${default_owner_id == 0 or None}"
                            value="0"
                            py:content="txt('User')" />
                    <option py:for="item in groups"
                            selected="${default_owner_id == item.get_id() or None}"
                            value="${item.get_id()}"
                            py:content="item.get_name()" />
                  </select>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- Granted Permissions -->
        <tr>
          <td class="nowrap" colspan="3">
            <h3 py:content="txt('Permissions Of This User')" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><xi:include href="permission_editor.tmpl" /></td>
        </tr>
      </table>
      </td>
    </tr>
    <tr>
      <td>
      <!-- ! table py:if="user.get_id() != 0" width="100%">
        <tr>
          <td>
            <input type="submit"
                   class="button"
                   name="cancel_membership"
                   value="${txt('Cancel Membership')}" />
          </td>
          <td>&nbsp;</td>
          <td>
            <input type="submit"
                   class="button"
                   name="add_membership"
                   value="${txt('Add Membership')}" />
          </td>
        </tr>
      </table -->
    </td>
    <td></td>
    <td align="right">
    <table>
      <tr>
        <td valign="bottom">
          <input type="checkbox"
                 class="checkbox"
                 name="user_delete_really"
                 value="yes" />
          ${txt('Yes, I am sure that I want to delete this user')}
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="submit"
                 class="button"
                 name="user_delete"
                 value="${txt('Delete User')}" />
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="submit"
                 class="button"
                 name="user_save"
                 value="${txt('Apply Changes')}" />
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</form>
</div>
