<table width="100%">
  <tr>
    <td class="footer" align="center">
    Website delivered by <a href="http://code.google.com/p/spiff/">$version</a>
    via ${adapter}.
    </td>
  </tr>
</table>
</body>
</html>
