<div xmlns:py="http://genshi.edgewall.org/"
     py:with="img_dir = plugin_dir + '/img'"
     py:strip="True">
<h1 py:content="name" />
<py:for each="error in errors">
<font color="red" py:content="error" /><br/>
</py:for>
<form action="${request_uri(edit = None)}" method="post">
<textarea name="wiki_markup" cols="80" rows="30" py:content="wiki_markup" />
<input type="submit" name="save" value="${txt('Save')}" />
</form>
</div>
