<div class="content"
     xmlns:py="http://genshi.edgewall.org/"
     py:with="img_dir = plugin_dir + '/img'">
  <h1><a href="${puri()}" py:content="name" /></h1>
  <py:for each="error in errors">
  <font color="red" py:content="error" /><br/>
  </py:for>
  <form action="${puri()}" method="get">
  <table cellpadding="3" cellspacing="0">
    <tr>
      <td colspan="7">
        <input type="hidden" name="page"   value="${uri_attr('page')}" />
        <input type="hidden" name="action" value="diff" />
        <input type="submit"
               value="${txt('Compare selected versions')}" /><br/>
      </td>
    </tr>
    <tr py:for="revision in revisions"
        py:with="rev_url = puri(revision = [revision.get_revision()])">
      <td>
        <input type="radio"
               name="revision1"
               value="${revision.get_revision()}"
               checked="${len(revisions) > 1 and revision == revisions[1] or None}"/>
      </td>
      <td>
        <input type="radio"
               name="revision2"
               value="${revision.get_revision()}"
               checked="${revision == revisions[0] or None}"/>
      </td>
      <td class="nowrap">
        <a href="$rev_url"
           py:content="revision.get_datetime()" />
      </td>
      <td width="10">&nbsp;</td>
      <td align="left">
        <a href="$rev_url"
           py:content="txt('Revision %s' % revision.get_revision())" />
      </td>
      <td width="20">&nbsp;</td>
      <td align="left"
          width="200"
          py:content="revision.get_username()" />
    </tr>
  </table>
  </form>
</div>
