<div class="content"
     xmlns:py="http://genshi.edgewall.org/"
     py:with="img_dir = plugin_dir + '/img'">
<table py:if="may_edit">
  <tr>
    <td>
      <a href="${request_uri(edit = [1])}"
         py:content="txt('Edit this content')" />
    </td>
    <td>&nbsp;</td>
    <td>
      <a href="${request_uri(history = [1], revision = None)}"
         py:content="txt('Show older versions of this page')" />
    </td>
  </tr>
</table>
<py:for each="error in errors">
<font color="red" py:content="error" /><br/>
</py:for>
<div xml:space="preserve" py:strip="True">
<div class="wiki">
${html}
</div>
</div>
</div>
