<div xmlns:py="http://genshi.edgewall.org/"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     py:with="img_dir = web_dir + '/img'"
     py:strip="True">
<table width="100%" cellpadding="0" cellspacing="0" py:choose="current_user">
  <tr>
    <td class="banner_left"
        style="width: 75px; background: url($img_dir/top_left.png)">
      <a class="title" href="${uri('')}"><img class="logo"
                                     src="$img_dir/logo_medium.png"
                                     alt=""
                                     border="0" /></a>
    </td>
    <td class="banner_left"
        style="background: url($img_dir/top_left.png)">
      <a class="title" href="${uri('')}"><span class="title">Spiff</span><span class="trade">&trade;</span><span class="title"> Live Demo</span></a>
    </td>
    <td class="banner_right"
        style="background: url($img_dir/top_right.png)"
        align="right"
        width="482">
      <table>
        <tr py:if="current_user">
          <td align="right">
            <span id="you_are">
              ${txt('You are %s' % current_user.get_name())}<br/>
              <a class="log_out" href="?logout=1">Log out</a>
            </span>
          </td>
          <td>&nbsp;</td>
          <td>
            <a class="title" href="?logout=1"><img src="$img_dir/logout.png" alt="" border="0" /></a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
        </tr>
        <tr py:if="not current_user">
          <td align="right">
            <span id="you_are">
              <a class="log_out" href="${request_uri(login = [1])}">Log in</a>
            </span>
          </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
