body {
  font-family: verdana, sans-serif, arial, helvetica;
  margin: 0px;
}

h1, h2, h3 {
  margin-top: 5px;
  margin-bottom: 12px;
}

ul, ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

img.logo {
  margin: 8px;
  margin-left: 17px;
}

a.title {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

pre {
  padding: 12px;
  margin-bottom: 0px;
  border: 1px solid #888;
  background-color: #f3f3f3;
}

span.title {
  color: white;
  font-size: 1.4em;
  vertical-align: top;
}

span #you_are {
  color: white;
}

a.log_out {
  color: white;
  text-decoration: underline;
}

div.content {
  margin: 10px 15px 0px 15px;
}

a:visited .log_out {
  color: white;
  text-decoration: underline;
}

.trade {
  font-size: 0.6em;
  color: white;
}

.wiki table {
  border-collapse: collapse;
}

.wiki th, .wiki td {
  border: 1px solid #bbb;
  padding: 5px;
}

table.admin_header {
  border-bottom: 1px solid #ccc;
  background: #eeeeae;
  padding: 2px;
}

table.admin_header td {
  vertical-align: middle;
}

table.admin_header img {
  margin: 0px;
  padding: 4px;
}

td.banner_left {
}

td.banner_right {
  color: white;
  width: 482px;
  height: 70px;
}

td.footer {
  text-align: center;
  font-size: .7em;
  border-top: 1px solid grey;
}

table.menu {
  font-size: 1.08em;
  white-space: nowrap;
}

table.menu a {
  text-decoration: none;
}

table.menu img {
  margin-top: 2px;
  margin-left: 2px;
  border: 0px;
}

.nowrap {
  white-space: nowrap;
}

textarea {
  width: 99%;
  padding: 2px;
  border: 1px solid #888;
  background-color: #f3f3f3;
}

input {
  padding: 2px;
  border: 1px solid #888;
  background-color: #f3f3f3;
}

.field {
  width: 99%;
}

select {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.button {
  margin-top: 7px;
  padding: 7px;
}

td.diff_delete {
  background: #fee;
}

td.diff_insert {
  background: #efe;
}

td.diff_replace {
  background: #ffa;
}

span.diff_delete {
  color: red;
}

span.diff_insert {
  color: red;
}

span.diff_replace {
  color: red;
}

table.canvas {
  border: 2px dashed #d00;
  padding: 0px;
  margin: 5px;
}

table.canvas td {
  text-align: center;
  vertical-align: top;
  border: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 4px;
}

table.canvas td.body {
  width: 100%;
  height: 100%;
}

table.canvas table.body {
  height: 100%;
  width: 100%;
}

table.canvas table.left {
  height: 100%;
  width: 4px;
}

table.canvas table.right {
  height: 100%;
  width: 4px;
}

table.canvas table.container {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

table.canvas table.container td {
  background-color: none;
  height: 100%;
}

table.canvas table.container td.droppable {
  background-color: #eee;
  padding: 10px;
}

table.canvas table.container td.horizontal {
  padding: 2px;
  margin: 0px;
  line-height: 0px;
  height: 4px;
}

table.canvas table.container td.vertical {
  padding: 2px;
  margin: 0px;
  width: 4px;
}

table.canvas table.container td.highlight {
  background-color: #999;
}

table.canvas table.container td.occupied {
  border: 1px dashed #aaa;
  background-color: #ddf;
  vertical-align: middle;
}
