[database]
dbn: 

[benchmark]
show_total_time: no
show_set_up_time: no
show_page_find_time: no
show_cache_check_time: no
show_package_load_time: no
show_page_open_signal_time: no
show_permission_check_time: no
show_render_header_time: no
show_render_plugins_time: no
show_render_footer_time: no
show_cache_add_time: no
show_template_time: no
