<div xmlns:py="http://genshi.edgewall.org/" py:strip="True">
<h2>Welcome to Spiff&trade;!</h2>

You are about to begin the installation. Please click the button to start.
<hr/>
<form method='post' action='?step=${nextstep}'>
<table width='100%'>
  <tr>
    <td width='100%'></td>
    <td><input type='submit' value='Install Spiff'/></td>
  </tr>
</table>
</form>
</div>
